# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain


 $ mkdir ~/Sweet-Treat
 $ cd ~/Sweet-Treat
 $ git init
-$ touch README
\ No newline at end of file
+$ touch README
+
+$ git add README
+$ git commit -m 'first commit'
+
+$ git remote add origin https://github.com/choktaw/Sweet-Treat.git
+$ git push origin master
